.app {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
}

.create-user-event {
  //   position: absolute;
  //   border: 1px solid white;
  //   background-color: lightgreen;

  //   &:hover {
  //     color: black;
  //   }
}

.content-container {
  //   display: flex;
  height: auto;
  //   justify-content: center;
}
