@import "./styles/helpers/util.scss";
@import "./App.scss";
@import "./styles/Feed.scss";
@import "./styles/Login.scss";
@import "./styles/Navbar.scss";
@import "./styles/Profile.scss";
@import "./styles/UserEvent.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(170, 170, 224);
}

@media (min-width: 767px) {
  body {
    background-color: rgb(72, 72, 173);
  }
}
