.centerLoginDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.centerElementsInLoginForm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.div-margin-auto{
    display: flex;
    justify-content: center;
    align-items: center;
}

.oneThird{
    
}