.center-div-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.make-space-for-navbar{
    margin-top: 170px;
}

.spacer-between-main-events{
    margin: 20px;
}