.center-div-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.div-divider-username{
    height: 3px;
    background-color: #39ba37;
    width: 50%;
    border-radius: 20%;
    margin-bottom: 20px;
}

.div-divider-descrption{
    height: 3px;
    background-color: #39ba37;
    width: 80%;
    border-radius: 20%;
    margin-bottom: 20px;
}