$dimension: 100px;

.user-event {
  border: 2px solid green;
}
.user-event__info-container {
  display: flex;
  justify-content: row;
}

.user-event__image {
  width: $dimension;
  height: $dimension;
}
